/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
[class^="ti-"], [class*=" ti-"] {
  /* Themify Icons */
  display: inline-block;
  margin-right: .125em; }

.humble-lms-course-tile-wrapper {
  position: relative;
  display: block;
  margin-bottom: 2em;
  transition: box-shadow .3s linear;
  border: 1px solid #e1e1e1; }

.humble-lms-course-tile-wrapper:hover {
  box-shadow: 0 0.125em 0.75em rgba(0, 0, 0, 0.2); }

.humble-lms-course-tile {
  position: relative;
  background: #444bb1;
  color: #fff;
  padding: 1em 1em 0 1em;
  background-size: cover;
  background-position: center center;
  display: block; }

.humble-lms-course-completed .humble-lms-course-tile::before,
.humble-lms-track-completed .humble-lms-course-tile::before {
  font-family: 'themify';
  content: '\e623';
  position: absolute;
  top: 0;
  right: .125em;
  z-index: 2;
  color: gold;
  font-size: 2em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }

.humble-lms-track-completed .humble-lms-course-tile::before {
  content: '\e642';
  right: .375em; }

.humble-lms-course-tile,
.humble-lms-course-tile:hover,
.humble-lms-course-tile:focus,
.humble-lms-course-tile:active,
.humble-lms-course-tile:visited {
  color: #fff; }

.humble-lms-course-tile-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #444bb1;
  opacity: .8; }

.humble-lms-16-9 {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56.25%;
  overflow: hidden; }

#humble-lms-course-content {
  display: block; }

.humble-lms-course-tile .humble-lms-course-title {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.2;
  position: absolute;
  bottom: 1em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }

.humble-lms-course-tile-meta {
  position: relative;
  font-size: .93875em;
  padding: 1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff; }

.humble-lms-course-tile-meta span {
  display: block; }

/* Syllabus */
nav.humble-lms-syllabus {
  display: block; }

ul.humble-lms-syllabus-lessons {
  display: block;
  list-style: none;
  margin: 0 0;
  padding: 0 0; }

.humble-lms-syllabus-section-title {
  font-size: 1.25em;
  display: block;
  margin: 1.5em 0 .6125em;
  font-weight: 600; }

.humble-lms-syllabus-section-title:first-of-type {
  margin-top: 0; }

body.single-humble_lms_lesson ul.humble-lms-syllabus-lessons {
  font-size: .75em; }

li.humble-lms-syllabus-lesson {
  display: block;
  background: #f0f0f5;
  font-weight: 400;
  padding: .75em;
  cursor: pointer;
  transition: all .3s ease-in-out; }

li.humble-lms-syllabus-lesson:hover {
  background: #e7e7ef; }

li.humble-lms-syllabus-lesson--completed {
  color: #06211a;
  background: #e3f5f0; }
  li.humble-lms-syllabus-lesson--completed:hover {
    background: #cdede4; }
  li.humble-lms-syllabus-lesson--completed .humble-lms-syllabus-title {
    color: #06211a; }
  li.humble-lms-syllabus-lesson--completed .humble-lms-syllabus-title::before {
    display: inline-block;
    margin-right: .15em;
    font-family: 'themify';
    content: '\e64c';
    font-size: .75em;
    font-weight: 700; }

li.humble-lms-syllabus-lesson--current .humble-lms-syllabus-title::before {
  display: inline-block;
  margin-right: .25em;
  font-family: 'themify';
  content: '\e63d';
  font-size: .75em;
  font-weight: 400; }

li.humble-lms-syllabus-lesson:not(:first-child) {
  margin-top: .5em; }

li.humble-lms-syllabus-lesson span {
  display: block; }

.humble-lms-syllabus-title {
  font-weight: 400;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  color: #444bb1; }

.humble-lms-syllabus-description {
  font-weight: 400;
  font-size: .93875em;
  margin-top: .5em; }

.humble-lms-progress-syllabus {
  display: block;
  margin-bottom: 1em; }

.humble-lms-syllabus-course-title {
  font-weight: 600; }

/* Single lesson */
.humble-lms-lesson-level {
  display: block;
  padding-bottom: 1em;
  font-size: .875em; }

.humble-lms-lesson-level span {
  font-style: italic; }

.humble-lms-course-meta {
  padding: 0 0;
  margin: 1em 0 0;
  font-size: .875em; }

#humble-lms-mark-complete {
  margin-top: 1em; }

#humble-lms-evaluate-quiz + #humble-lms-mark-complete {
  margin-top: 1em; }

.humble-lms-next-prev-lesson {
  display: block;
  margin-top: 2em;
  font-size: .875em; }

.humble-lms-next-prev-lesson a,
.humble-lms-next-prev-lesson a:hover,
.humble-lms-next-prev-lesson a:focus {
  text-decoration: none; }

.humble-lms-prev-lesson-link {
  margin-right: 1em; }

.humble-lms-next-lesson-link::after,
.humble-lms-prev-lesson-link::before {
  font-size: .6125em;
  font-family: 'themify'; }

.humble-lms-next-lesson-link::after {
  content: '\e628';
  margin-left: .25em; }

.humble-lms-prev-lesson-link::before {
  content: '\e629';
  margin-right: .25em; }

.humble-lms-page-links {
  font-size: .875em;
  margin-top: 2em; }

.humble-lms-page-link {
  display: inline-block;
  margin: 0 .5em; }

.humble-lms-page-links-separator {
  opacity: .25; }

/* Sidebar */
.humble-lms-sidebar {
  margin-bottom: 2em; }

.humble-lms-widget h2 {
  font-size: 1.125em;
  padding-top: 0;
  margin-top: 0; }

/* Buttons */
.humble-lms-btn,
input[type='submit'].humble-lms-btn,
#humble-lms-custom-login-form input[type='submit'] {
  position: relative;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  height: 3.25rem;
  letter-spacing: 1px;
  line-height: 3.25rem;
  padding: 0 1.25rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: #444bb1;
  transition: background-color .125s ease-in-out, box-shadow .125s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  border-left: 1px solid #2f347a;
  border-right: 1px solid #2f347a;
  border-bottom-width: .25em;
  border-bottom-color: #2f347a;
  border-bottom-style: solid; }

.humble-lms-btn,
.humble-lms-btn:hover,
.humble-lms-btn:focus,
.humble-lms-btn:active,
.humble-lms-btn:visited,
#humble-lms-custom-login-form input[type='submit'],
#humble-lms-custom-login-form input[type='submit']:hover,
#humble-lms-custom-login-form input[type='submit']:active,
#humble-lms-custom-login-form input[type='submit']:visited {
  color: #fff; }

.humble-lms-btn:hover,
.humble-lms-btn:focus,
.humble-lms-btn:active,
#humble-lms-custom-login-form input[type='submit']:hover,
#humble-lms-custom-login-form input[type='submit']:focus,
#humble-lms-custom-login-form input[type='submit']:active {
  background: #3d439f;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.35); }

.humble-lms-btn--success,
input[type='submit'].humble-lms-btn--success {
  background-color: #188e6e;
  border-left: 1px solid #11624c;
  border-right: 1px solid #11624c;
  border-bottom-width: .25em;
  border-bottom-color: #11624c;
  border-bottom-style: solid; }

.humble-lms-btn--success:hover,
.humble-lms-btn--success:focus,
.humble-lms-btn--success:active,
input[type='submit'].humble-lms-btn--success:hover,
input[type='submit'].humble-lms-btn--success:focus,
input[type='submit'].humble-lms-btn--success:active {
  background-color: #14785d; }

.humble-lms-btn--error,
input[type='submit'].humble-lms-btn--error {
  background-color: #8a2738;
  border-left: 1px solid #621c28;
  border-right: 1px solid #621c28;
  border-bottom-width: .25em;
  border-bottom-color: #621c28;
  border-bottom-style: solid; }

.humble-lms-btn--error:hover,
.humble-lms-btn--error:focus,
.humble-lms-btn--error:active,
input[type='submit'].humble-lms-btn--error:hover,
input[type='submit'].humble-lms-btn--error:focus,
input[type='submit'].humble-lms-btn--error:active {
  background-color: #762130; }

.humble-lms-btn:active,
.humble-lms-btn--success:active,
.humble-lms-btn--error:active,
input[type='submit'].humble-lms-btn:active,
input[type='submit'].humble-lms-btn--success:active,
input[type='submit'].humble-lms-btn--error:active,
#humble-lms-custom-login-form input[type='submit']:active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.35);
  border-bottom-width: 1px;
  top: 1px; }

.humble-lms-btn-start-course {
  margin-top: 1em; }

/* Messages */
.humble-lms-message {
  display: block;
  margin-bottom: 1.5em;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  padding: 1em; }

.humble-lms-message-quiz {
  display: none; }

.humble-lms-message-title {
  font-size: 1.125em;
  font-weight: 600;
  display: flex;
  align-items: center; }

.humble-lms-message-content {
  display: block;
  padding-top: 1em; }

.humble-lms-message a {
  font-weight: 600; }

.humble-lms-message--success .humble-lms-message-title::before {
  display: inline-block;
  content: '\e64c';
  font-family: 'themify';
  margin-right: .15em; }

.humble-lms-message--success {
  color: #06211a;
  border: 1px solid #bcd0ca;
  background: #e3f5f0; }

.humble-lms-message--success a,
.humble-lms-message--success a:hover,
.humble-lms-message--success a:focus,
.humble-lms-message--success a:active,
.humble-lms-message--success a:visited {
  color: #06211a;
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67%, #a6e6d4 72%); }

.humble-lms-message--error {
  color: #8a2738;
  border: 1px solid #d1929d;
  background: #f7ecee; }

.humble-lms-message--error a,
.humble-lms-message--error a:hover,
.humble-lms-message--error a:focus,
.humble-lms-message--error a:active,
.humble-lms-message--error a:visited {
  color: #8a2738;
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67%, #e8c8ce 72%); }

.humble-lms-message--error .humble-lms-message-title::before {
  display: inline-block;
  content: '\e62b';
  font-family: 'themify';
  margin-right: .15em; }

/* Media */
.humble-lms-featured-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5em; }

/* Award messages */
.humble-lms-award-message {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: auto;
  color: #fff;
  font-size: 1.125em;
  display: none;
  background: rgba(68, 75, 177, 0.96); }

.humble-lms-award-message > div {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.humble-lms-award-message-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.125em 1em rgba(0, 0, 0, 0.4);
  padding: .5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0; }

.humble-lms-award-message-inner h3 {
  margin: 0 0;
  padding: 0 .5em .5em;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 2em; }

.humble-lms-award-message-content-name {
  font-style: italic; }

.humble-lms-award-message-image {
  line-height: 1;
  font-size: 6em;
  color: gold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); }

.humble-lms-award-image {
  width: auto;
  height: 12em;
  margin-top: 1.5em; }

.humble-lms-award-message-close {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff; }

.humble-lms-award-message-close-text:hover,
.humble-lms-award-message-close-text:focus,
.humble-lms-award-message-close-text:active,
.humble-lms-award-message-close-text:visited {
  color: #fff;
  opacity: 1; }

.humble-lms-award-message-close-text:hover,
.humble-lms-award-message-close-text:focus,
.humble-lms-award-message-close-text:active {
  opacity: 1; }

.humble-lms-award-message-close-text i {
  margin-right: .25em; }

/* Award messages */
.humble-lms-quiz-message {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: auto;
  color: #fff;
  font-size: 1.125em;
  display: none;
  background: rgba(68, 75, 177, 0.96);
  line-height: 1.125; }

.humble-lms-quiz-message--success {
  background: rgba(24, 142, 110, 0.96); }

.humble-lms-quiz-message--failed {
  background: rgba(138, 39, 56, 0.96); }

.humble-lms-quiz-message > div {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.humble-lms-quiz-message-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.125em 1em rgba(0, 0, 0, 0.4);
  padding: .5em;
  text-align: center;
  align-items: center;
  justify-content: center; }

.humble-lms-quiz-message-inner h3 {
  margin: 0 0;
  padding: 0 .5em .5em;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 2em; }

.humble-lms-quiz-message-content-name {
  font-style: italic; }

.humble-lms-quiz-message-image {
  line-height: 1;
  font-size: 6em;
  color: gold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: .125em; }

.humble-lms-quiz-message--failed .humble-lms-quiz-message-image {
  color: #fff; }

.humble-lms-quiz-image {
  width: auto;
  height: 12em;
  margin-top: 1.5em; }

.humble-lms-quiz-message-close {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff; }

.humble-lms-quiz-message-close-text:hover,
.humble-lms-quiz-message-close-text:focus,
.humble-lms-quiz-message-close-text:active,
.humble-lms-quiz-message-close-text:visited {
  color: #fff;
  opacity: 1; }

.humble-lms-quiz-message-close-text:hover,
.humble-lms-quiz-message-close-text:focus,
.humble-lms-quiz-message-close-text:active {
  opacity: 1; }

.humble-lms-quiz-message-close-text i {
  margin-right: .25em; }

/* Bounce-In animation */
.humble-lms-bounce-in {
  opacity: 0;
  animation-name: bounce-in;
  animation-duration: .45s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

.humble-lms-bounce-in {
  animation-delay: .5s; }

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0); }
  50% {
    opacity: 0.9;
    transform: scale(1.1); }
  80% {
    opacity: 1;
    transform: scale(0.89); }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0); } }
/* Progress */
.humble-lms-track-progress {
  padding-bottom: .5em; }

.humble-lms-course-tile-meta span {
  display: block; }

.humble-lms-track-progress-track--completed {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.humble-lms-track-progress-track--completed::after {
  display: inline-block;
  content: '\e64c';
  font-family: 'themify';
  color: #188e6e;
  margin-left: .15em; }

.humble-lms-track-progress-course {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 .5em;
  width: 3em;
  height: 3em;
  border: 2px dashed #bfbfbf;
  border-radius: 50%;
  font-size: 1.5em;
  color: #444bb1;
  font-weight: 600;
  position: relative; }

.humble-lms-track-progress-course:hover,
.humble-lms-track-progress-course:active,
.humble-lms-track-progress-course:focus,
.humble-lms-track-progress-course:visited {
  color: #444bb1; }

.humble-lms-track-progress-course--completed {
  background: #444bb1;
  border: 0;
  color: #fff; }

.humble-lms-track-progress-course--completed:hover,
.humble-lms-track-progress-course--completed:active,
.humble-lms-track-progress-course--completed:focus,
.humble-lms-track-progress-course--completed:visited {
  color: #fff; }

.humble-lms-track-progress-course--completed::after {
  font-family: 'themify';
  content: '\e623';
  position: absolute;
  top: 0;
  right: 0;
  color: gold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.125em; }

.humble-lms-track-progress-course-separator {
  font-size: 1.5em;
  color: #bfbfbf;
  padding: 0 .375em;
  font-weight: 700; }

/* Awards list */
.humble-lms-awards-list-item {
  display: inline-flex;
  margin: 0 1.5em 1.5em 0; }

.humble-lms-awards-list-item img {
  height: 8em;
  width: auto; }

/* Certificates list */
.humble-lms-certificates-list-item {
  display: inline-flex;
  margin: 0 1.5em 1.5em 0; }

.humble-lms-certificates-list-item img {
  height: 8em;
  width: auto; }

/* Instructors */
.humble-lms-instructors {
  display: block;
  margin-bottom: 1em; }

.humble-lms-instructors a {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .humble-lms-instructors a:hover, .humble-lms-instructors a:focus {
    text-decoration: none; }

.humble-lms-instructors a::before {
  font-family: 'themify';
  content: '\e726';
  margin-right: .25em; }

.humble-lms-instructors-title {
  display: block;
  font-size: 1.125em;
  font-weight: 600;
  padding-bottom: .25em; }

/* Progress bar */
.humble-lms-progress {
  display: block;
  margin-bottom: .5em; }

.humble-lms-progress-bar {
  position: relative;
  display: block;
  width: 100%;
  height: .6125em;
  background: #f2f2f2; }

.humble-lms-progress-bar-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #188e6e;
  background: repeating-linear-gradient(125deg, #188e6e, #188e6e 0.5em, #178567 0.5em, #178567 1em); }

/* Loading layer/spinner */
.humble-lms-loading-layer {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.57);
  height: 100%;
  padding: 0;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: center; }

.humble-lms-loading,
.humble-lms-loading:after {
  border-radius: 50%;
  font-size: 10px;
  width: 4em;
  height: 4em; }

.humble-lms-loading {
  display: flex-item;
  text-indent: -9999em;
  border-top: 0.875em solid rgba(255, 255, 255, 0.2);
  border-right: 0.875em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.875em solid rgba(255, 255, 255, 0.2);
  border-left: .875em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: lm-load 1.1s infinite linear;
  animation: lm-load 1.1s infinite linear; }

@-webkit-keyframes lm-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes lm-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* Flex columns */
.humble-lms-flex-columns,
.humble-lms-flex-columns * {
  box-sizing: border-box; }

.humble-lms-flex-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative; }

.humble-lms-flex-column {
  margin-bottom: 1em; }

.humble-lms-flex-column--full {
  width: 100%; }

.humble-lms-flex-column--half {
  width: calc(1/2 * 100% - (1 - 1/2) * 1.5em); }

.humble-lms-flex-column--third {
  width: calc(1/3 * 100% - (1 - 1/3) * 1.5em); }

.humble-lms-flex-column--two-third {
  width: calc(2/3 * 100% - (1 - 2/3) * 1.5em); }

.humble-lms-flex-column--fourth {
  width: calc(1/4 * 100% - (1 - 1/4) * 1.5em); }

.humble-lms-flex-column--three-fourth {
  width: calc(3/4 * 100% - (1 - 3/4) * 1.5em); }

.humble-lms-flex-column--fifth {
  width: calc(1/5 * 100% - (1 - 1/5) * 1.5em); }

.humble-lms-flex-column--two-fourth {
  width: calc(2/5 * 100% - (1 - 2/5) * 1.5em); }

.humble-lms-flex-column--three-fifth {
  width: calc(3/5 * 100% - (1 - 3/5) * 1.5em); }

/* Sidebars */
.humble-lms-widget h2 {
  font-size: 1.125em;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: .4125em; }

.humble-lms-widget:not(:first-of-type) {
  margin-top: 1.5em; }

/* Login and registration forms */
.humble-lms-form label {
  display: block;
  margin-bottom: .125em; }

#humble-lms-registration-form label.humble-lms-required::after {
  display: inline-block;
  content: '*';
  margin-left: .125em;
  color: #8a2738; }

.humble-lms-honeypot {
  display: none !important;
  visibility: hidden !important; }

/* Quizzes */
.humble-lms-quiz {
  display: block;
  margin-bottom: 1.5em; }

.humble-lms-quiz-question {
  display: block;
  background: #f9f9fb;
  border: 1px solid #dadbe7;
  padding: 1em;
  margin-bottom: 1em; }

.humble-lms-quiz-question:not(:first-of-type) {
  margin-top: 1em; }

.humble-lms-quiz-question-title {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.25em; }

.humble-lms-multiple-choice-question {
  display: flex;
  align-items: center; }

.humble-lms-quiz-score {
  font-weight: 700;
  font-size: 1.875em; }

/* Responsive */
@media screen and (max-width: 767px) {
  .humble-lms-flex-column--half:not(.dont-break),
  .humble-lms-flex-column--third:not(.dont-break),
  .humble-lms-flex-column--two-third:not(.dont-break),
  .humble-lms-flex-column--fourt:not(.dont-break),
  .humble-lms-flex-column--three-fourth:not(.dont-break),
  .humble-lms-flex-column--fifth:not(.dont-break),
  .humble-lms-flex-column--two-fifth:not(.dont-break),
  .humble-lms-flex-column--three-fifth:not(.dont-break) {
    width: 100%;
    margin-right: 0; }

  .humble-lms-course-tile .humble-lms-course-title {
    font-size: 2em; }

  .humble-lms-next-prev-lesson {
    margin-top: 1em;
    margin-bottom: 2em; }

  .humble-lms-widget h2 {
    padding-bottom: .5em; }

  .humble-lms-widget:not(:first-of-type) {
    margin-top: 1.5em; } }
@media screen and (max-width: 480px) {
  .humble-lms-course-tile .humble-lms-course-title {
    font-size: 1.75em; } }
