@charset "UTF-8";
/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
[class^="ti-"], [class*=" ti-"] {
  /* Themify Icons */
  display: inline-block;
  margin-right: .125em; }

.humble-lms-course-tile-wrapper {
  position: relative;
  display: block;
  margin-bottom: 2em;
  transition: box-shadow .3s linear;
  border: 1px solid #e1e1e1; }

.humble-lms-course-tile-wrapper:hover {
  box-shadow: 0 0.125em 0.75em rgba(0, 0, 0, 0.2); }

.humble-lms-course-tile {
  position: relative;
  background-color: #444bb1;
  color: #fff;
  background-size: cover;
  background-position: center center;
  display: block; }

.humble-lms-course-completed .humble-lms-course-tile::before,
.humble-lms-track-completed .humble-lms-course-tile::before {
  font-family: 'themify';
  content: '\e623';
  position: absolute;
  top: 0;
  right: .125em;
  z-index: 2;
  color: gold;
  font-size: 2em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }

.humble-lms-track-completed .humble-lms-course-tile::before {
  content: '\e642';
  right: .375em; }

.humble-lms-course-tile,
.humble-lms-course-tile:hover,
.humble-lms-course-tile:focus,
.humble-lms-course-tile:active,
.humble-lms-course-tile:visited {
  color: #fff; }

.humble-lms-course-title-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #444bb1;
  opacity: .825;
  z-index: -1; }

.humble-lms-16-9 {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56.25%;
  overflow: hidden; }

#humble-lms-course-content {
  display: block; }

.humble-lms-course-tile .humble-lms-course-title {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.2;
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  padding: .5em;
  z-index: 1;
  width: 100%;
  max-height: 100%;
  overflow: hidden; }

.humble-lms-course-tile-meta {
  position: relative;
  font-size: .93875em;
  padding: 1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff; }

.humble-lms-course-tile-meta span {
  display: block; }

.humble-lms-course-tile-meta span.humble-lms-price span {
  display: inline-block;
  font-weight: 700;
  color: #188e6e; }

.humble-lms-price-vat {
  font-weight: 400;
  color: #999;
  font-size: .75em; }

.humble-lms-label-new {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: -.26125em;
  top: .1em;
  z-index: 1;
  background: #b31866;
  color: #fff;
  padding: 0.125em 0.5em 0.125em calc(.5em + 1px);
  transform: rotate(-20deg);
  font-size: .875em;
  font-weight: 600;
  letter-spacing: 1px;
  pointer-events: none; }

/* Syllabus */
nav.humble-lms-syllabus {
  display: block;
  overflow: auto;
  position: relative; }

.humble-lms-toggle-syllabus {
  position: relative;
  display: none;
  margin: 0 -1em 0 0;
  color: #444bb1; }

ul.humble-lms-syllabus-lessons {
  display: block;
  list-style: none;
  margin: 0 0;
  padding: 0 0; }

.humble-lms-syllabus-section:not(.humble-lms-syllabus-section-is-visible) .humble-lms-syllabus-section-inner {
  display: none; }

.humble-lms-syllabus-section.humble-lms-syllabus-section-is-visible {
  display: block;
  margin-bottom: 1.375em; }

.humble-lms-syllabus-section-title {
  font-size: 1.25em;
  display: block;
  padding: 0 0;
  font-weight: 500;
  margin-bottom: .375em; }

.single-humble_lms_lesson .humble-lms-syllabus-section-toggle-icon::after {
  font-style: normal; }

.humble-lms-syllabus-section-title a {
  color: #444bb1; }

.humble-lms-syllabus-section-title--first {
  margin-top: 0;
  padding-top: 0; }

.humble-lms-toggle-syllabus-section {
  display: block; }

.humble-lms-syllabus-section-toggle-icon {
  display: none; }

.humble-lms-syllabus-section-title .humble-lms-syllabus-section-toggle-icon::after {
  content: "+";
  display: inline-block;
  font-size: 1;
  margin-right: -1em;
  color: #444bb1; }

.humble-lms-syllabus-section-is-visible .humble-lms-syllabus-section-title .humble-lms-syllabus-section-toggle-icon::after {
  content: "−"; }

body.single-humble_lms_lesson ul.humble-lms-syllabus-lessons {
  font-size: .75em; }

li.humble-lms-syllabus-lesson {
  display: block;
  font-weight: 400;
  padding: .375em .6125em;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background: linear-gradient(45deg, #f8f8fc, rgba(255, 255, 255, 0)); }

li.humble-lms-syllabus-lesson--current {
  box-shadow: inset 2px 0 0 #5e63b1; }

li.humble-lms-syllabus-lesson--completed.humble-lms-syllabus-lesson--current {
  box-shadow: inset 2px 0 0 #178567; }

li.humble-lms-syllabus-lesson--completed {
  color: #06211a;
  background: linear-gradient(45deg, #e7fbf6, rgba(255, 255, 255, 0)); }
  li.humble-lms-syllabus-lesson--completed .humble-lms-syllabus-title {
    color: #06211a; }

li.humble-lms-syllabus-lesson:not(:first-child) {
  margin-top: .25em; }

li.humble-lms-syllabus-lesson span {
  display: block; }

.humble-lms-syllabus-title {
  font-weight: 400;
  font-size: 1.125em;
  display: flex;
  align-items: center; }

.single-humble_lms_course li.humble-lms-syllabus-lesson {
  font-size: .93875em;
  padding: .6125em .75em; }

.humble-lms-syllabus-description {
  font-weight: 400;
  font-size: .93875em;
  margin-top: .5em; }

.humble-lms-progress-syllabus {
  display: block;
  margin-bottom: 1em; }

.humble-lms-syllabus-track-title,
.humble-lms-syllabus-course-title {
  font-weight: 600; }

/* Single lesson */
.humble-lms-lesson-level {
  display: block;
  padding-bottom: 1em;
  font-size: .875em; }

.humble-lms-lesson-level span {
  font-style: italic; }

.humble-lms-course-meta {
  padding: 0 0;
  margin: 1em 0 0;
  font-size: .875em; }

#humble-lms-mark-complete {
  margin-top: 1em; }

#humble-lms-evaluate-quiz + #humble-lms-mark-complete {
  margin-top: 1em; }

.humble-lms-next-prev-lesson {
  display: block;
  margin-top: 2em;
  font-size: .875em; }

.humble-lms-next-prev-lesson a,
.humble-lms-next-prev-lesson a:hover,
.humble-lms-next-prev-lesson a:focus {
  text-decoration: none; }

.humble-lms-prev-lesson-link {
  margin-right: 1em; }

.humble-lms-next-lesson-link::after,
.humble-lms-prev-lesson-link::before {
  font-size: .6125em;
  font-family: 'themify'; }

.humble-lms-next-lesson-link::after {
  content: '\e628';
  margin-left: .25em; }

.humble-lms-prev-lesson-link::before {
  content: '\e629';
  margin-right: .25em; }

.humble-lms-page-links {
  font-size: .875em;
  margin-top: 2em; }

.humble-lms-page-link {
  display: inline-block;
  margin: 0 .5em; }

.humble-lms-page-links-separator {
  opacity: .25; }

/* Sidebar */
.humble-lms-sidebar {
  margin-bottom: 2em; }

.humble-lms-widget h2 {
  font-size: 1.125em;
  padding-top: 0;
  margin-top: 0; }

/* Buttons */
.humble-lms-btn,
input[type='submit'].humble-lms-btn,
#humble-lms-custom-login-form input[type='submit'] {
  font-family: inherit;
  position: relative;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  height: 3.25rem;
  letter-spacing: 1px;
  line-height: 3.2rem;
  padding: 0 1.25rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: #444bb1;
  transition: background-color .125s ease-in-out, box-shadow .125s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  border-top: 0;
  border-left: 1px solid #2f347a;
  border-right: 1px solid #2f347a;
  border-bottom-width: .25em;
  border-bottom-color: #2f347a;
  border-bottom-style: solid; }

.humble-lms-btn,
.humble-lms-btn:hover,
.humble-lms-btn:focus,
.humble-lms-btn:active,
.humble-lms-btn:visited,
#humble-lms-custom-login-form input[type='submit'],
#humble-lms-custom-login-form input[type='submit']:hover,
#humble-lms-custom-login-form input[type='submit']:active,
#humble-lms-custom-login-form input[type='submit']:visited {
  color: #fff; }

.humble-lms-btn:hover,
.humble-lms-btn:focus,
.humble-lms-btn:active,
#humble-lms-custom-login-form input[type='submit']:hover,
#humble-lms-custom-login-form input[type='submit']:focus,
#humble-lms-custom-login-form input[type='submit']:active {
  background: #3d439f;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.35); }

.humble-lms-btn--success,
input[type='submit'].humble-lms-btn--success {
  background-color: #188e6e;
  border-left: 1px solid #11624c;
  border-right: 1px solid #11624c;
  border-bottom-width: .25em;
  border-bottom-color: #11624c;
  border-bottom-style: solid; }

.humble-lms-btn--success:hover,
.humble-lms-btn--success:focus,
.humble-lms-btn--success:active,
input[type='submit'].humble-lms-btn--success:hover,
input[type='submit'].humble-lms-btn--success:focus,
input[type='submit'].humble-lms-btn--success:active {
  background-color: #14785d; }

.humble-lms-btn--error,
input[type='submit'].humble-lms-btn--error {
  background-color: #8a2738;
  border-left: 1px solid #621c28;
  border-right: 1px solid #621c28;
  border-bottom-width: .25em;
  border-bottom-color: #621c28;
  border-bottom-style: solid; }

.humble-lms-btn--error:hover,
.humble-lms-btn--error:focus,
.humble-lms-btn--error:active,
input[type='submit'].humble-lms-btn--error:hover,
input[type='submit'].humble-lms-btn--error:focus,
input[type='submit'].humble-lms-btn--error:active {
  background-color: #762130; }

.humble-lms-btn:active,
.humble-lms-btn--success:active,
.humble-lms-btn--error:active,
input[type='submit'].humble-lms-btn:active,
input[type='submit'].humble-lms-btn--success:active,
input[type='submit'].humble-lms-btn--error:active,
#humble-lms-custom-login-form input[type='submit']:active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.35);
  border-bottom-width: 1px;
  top: 1px; }

.humble-lms-btn--start-course {
  margin-top: 1em; }

.humble-lms-btn--disabled {
  opacity: .6125;
  pointer-events: none;
  filter: grayscale(100%); }

.humble-lms-btn--small,
input[type='button'].humble-lms-btn--small {
  font-size: .875em;
  height: 2.875rem;
  line-height: 2.875rem;
  padding: 0 .875em; }

/* Messages */
.humble-lms-message {
  display: block;
  margin-bottom: 1.5em;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  padding: 1em; }

.humble-lms-message-quiz {
  display: none; }

.humble-lms-message-title {
  font-size: 1.125em;
  font-weight: 600;
  display: flex;
  align-items: center; }

.humble-lms-message-content {
  display: block;
  padding-top: 1em; }

.humble-lms-message a {
  font-weight: 600; }

.humble-lms-message--success {
  color: #06211a;
  border: 1px solid #bcd0ca;
  background: #e3f5f0; }

.humble-lms-message--success a,
.humble-lms-message--success a:hover,
.humble-lms-message--success a:focus,
.humble-lms-message--success a:active,
.humble-lms-message--success a:visited {
  color: #06211a;
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67%, #a9e3d3 72%); }

.humble-lms-message--error {
  color: #8a2738;
  border: 1px solid #d1929d;
  background: #f7ecee; }

.humble-lms-message--error a,
.humble-lms-message--error a:hover,
.humble-lms-message--error a:focus,
.humble-lms-message--error a:active,
.humble-lms-message--error a:visited {
  color: #8a2738;
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67%, #e8c8ce 72%); }

.humble-lms-message--error .humble-lms-message-title::before {
  display: inline-block;
  content: '\e62b';
  font-family: 'themify';
  margin-right: .2em; }

.humble-lms-message--error.humble-lms-message--error__info .humble-lms-message-title::before {
  content: '\e717'; }

/* Media */
.humble-lms-featured-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5em; }

/* Award messages */
.humble-lms-award-message {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: auto;
  color: #fff;
  font-size: 1.125em;
  display: none;
  background: rgba(68, 75, 177, 0.96); }

.humble-lms-award-message > div {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.humble-lms-award-message-inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: .5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 1000; }

.humble-lms-award-message-inner h3 {
  margin: 0 0;
  padding: 0 .5em .5em;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 2em; }

.humble-lms-award-message-content-name {
  font-style: italic;
  color: #fff; }

.humble-lms-award-message-image {
  line-height: 1;
  font-size: 6em;
  color: gold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); }

.humble-lms-award-image {
  width: auto;
  height: 12em;
  margin-top: 1.5em; }

.humble-lms-award-message-close {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff; }

.humble-lms-award-message-close-text:hover,
.humble-lms-award-message-close-text:focus,
.humble-lms-award-message-close-text:active,
.humble-lms-award-message-close-text:visited {
  color: #fff;
  opacity: 1; }

.humble-lms-award-message-close-text:hover,
.humble-lms-award-message-close-text:focus,
.humble-lms-award-message-close-text:active {
  opacity: 1; }

.humble-lms-award-message-close-text i {
  margin-right: .25em; }

/* Award messages */
.humble-lms-quiz-message {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: auto;
  color: #fff;
  font-size: 1.125em;
  display: none;
  background: rgba(68, 75, 177, 0.96);
  line-height: 1.125; }

.humble-lms-quiz-message--success {
  background: rgba(24, 142, 110, 0.96); }

.humble-lms-quiz-message--failed {
  background: rgba(138, 39, 56, 0.96); }

.humble-lms-quiz-message > div {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.humble-lms-quiz-message-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: .5em;
  text-align: center;
  align-items: center;
  justify-content: center; }

.humble-lms-quiz-message-inner h3 {
  margin: 0 0;
  padding: 0 .5em .5em;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 2em; }

.humble-lms-quiz-message-content-name {
  font-style: italic; }

.humble-lms-quiz-message-image {
  line-height: 1;
  font-size: 6em;
  color: gold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: .125em; }

.humble-lms-quiz-message--failed .humble-lms-quiz-message-image {
  color: #fff; }

.humble-lms-quiz-image {
  width: auto;
  height: 12em;
  margin-top: 1.5em; }

.humble-lms-quiz-message-close {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff; }

.humble-lms-quiz-message-close-text:hover,
.humble-lms-quiz-message-close-text:focus,
.humble-lms-quiz-message-close-text:active,
.humble-lms-quiz-message-close-text:visited {
  color: #fff;
  opacity: 1; }

.humble-lms-quiz-message-close-text:hover,
.humble-lms-quiz-message-close-text:focus,
.humble-lms-quiz-message-close-text:active {
  opacity: 1; }

.humble-lms-quiz-message-close-text i {
  margin-right: .25em; }

.humble-lms-quiz-max-attempts,
.humble-lms-quiz-remaining-attempts {
  font-weight: 600; }

/* Bounce-In animation */
.humble-lms-bounce-in {
  opacity: 0;
  animation-name: bounce-in;
  animation-duration: .45s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

.humble-lms-bounce-in {
  animation-delay: .5s; }

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0); }
  50% {
    opacity: 0.9;
    transform: scale(1.1); }
  80% {
    opacity: 1;
    transform: scale(0.89); }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0); } }
/* Progress */
.humble-lms-track-progress {
  padding-bottom: .5em; }

.humble-lms-course-tile-meta span {
  display: block; }

.humble-lms-track-progress-track--completed {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.humble-lms-track-progress-track--completed::after {
  display: inline-block;
  content: '\e64c';
  font-family: 'themify';
  color: #188e6e;
  margin-left: .15em; }

.humble-lms-track-progress-course {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 .5em;
  width: 3em;
  height: 3em;
  border: 2px dashed #bfbfbf;
  border-radius: 50%;
  font-size: 1.5em;
  color: #444bb1;
  font-weight: 600;
  position: relative; }

.humble-lms-track-progress-course:hover,
.humble-lms-track-progress-course:active,
.humble-lms-track-progress-course:focus,
.humble-lms-track-progress-course:visited {
  color: #444bb1; }

.humble-lms-track-progress-course--completed {
  background: #444bb1;
  border: 0;
  color: #fff; }

.humble-lms-track-progress-course--completed:hover,
.humble-lms-track-progress-course--completed:active,
.humble-lms-track-progress-course--completed:focus,
.humble-lms-track-progress-course--completed:visited {
  color: #fff; }

.humble-lms-track-progress-course--completed::after {
  font-family: 'themify';
  content: '\e623';
  position: absolute;
  top: 0;
  right: 0;
  color: gold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.125em; }

.humble-lms-track-progress-course-separator {
  font-size: 1.5em;
  color: #bfbfbf;
  padding: 0 .375em;
  font-weight: 700; }

/* Awards list */
.humble-lms-awards-list-item {
  display: inline-flex;
  margin: 0 1.5em 1.5em 0; }

.humble-lms-awards-list-item img {
  height: auto;
  width: 7em; }

/* Certificates list */
.humble-lms-certificates-list-item * {
  box-sizing: border-box; }

.humble-lms-certificates-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: .375em .25em; }

.humble-lms-certificates-list-item-image {
  padding-right: .375em;
  font-size: .93875em;
  position: relative;
  top: 1px; }

.humble-lms-certificates-list-item-text span {
  font-weight: 600; }

/* Instructors */
.humble-lms-instructors {
  display: block;
  margin-bottom: 1em; }

.humble-lms-instructors a {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .humble-lms-instructors a:hover, .humble-lms-instructors a:focus {
    text-decoration: none; }

.humble-lms-instructors a::before {
  font-family: 'themify';
  content: '\e726';
  margin-right: .25em; }

.humble-lms-instructors-title {
  display: block;
  font-size: 1.125em;
  font-weight: 600;
  padding-bottom: .25em; }

/* Progress bar */
.humble-lms-progress {
  display: block;
  margin-bottom: .5em; }

.humble-lms-progress-bar {
  position: relative;
  display: block;
  width: 100%;
  height: .6125em;
  background: #f2f2f2; }

.humble-lms-progress-bar-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #188e6e;
  background: repeating-linear-gradient(125deg, #188e6e, #188e6e 0.5em, #178567 0.5em, #178567 1em); }

.humble-lms-progress-bar--lesson {
  margin-bottom: 1.75em; }

.humble-lms-progress-bar-label {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: .875em; }

.humble-lms-progress-bar-label span {
  color: #188e6e;
  font-weight: 500; }

/* Loading layer/spinner */
.humble-lms-loading-layer {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.57);
  height: 100%;
  padding: 0;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: center; }

.humble-lms-loading,
.humble-lms-loading:after {
  border-radius: 50%;
  font-size: 10px;
  width: 4em;
  height: 4em; }

.humble-lms-loading {
  display: flex-item;
  text-indent: -9999em;
  border-top: 0.875em solid rgba(255, 255, 255, 0.2);
  border-right: 0.875em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.875em solid rgba(255, 255, 255, 0.2);
  border-left: .875em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: lm-load 1.1s infinite linear;
  animation: lm-load 1.1s infinite linear; }

@-webkit-keyframes lm-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes lm-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* Flex columns */
.humble-lms-flex-columns,
.humble-lms-flex-columns * {
  box-sizing: border-box; }

.humble-lms-flex-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative; }

.humble-lms-flex-column {
  margin-bottom: 1em; }

.humble-lms-flex-column--full {
  width: 100%; }

.humble-lms-flex-column--half {
  width: calc(1/2 * 100% - (1 - 1/2) * 1.5em); }

.humble-lms-flex-column--third {
  width: calc(1/3 * 100% - (1 - 1/3) * 1.5em); }

.humble-lms-flex-column--two-third {
  width: calc(2/3 * 100% - (1 - 2/3) * 1.5em); }

.humble-lms-flex-column--fourth {
  width: calc(1/4 * 100% - (1 - 1/4) * 1.5em); }

.humble-lms-flex-column--three-fourth {
  width: calc(3/4 * 100% - (1 - 3/4) * 1.5em); }

.humble-lms-flex-column--fifth {
  width: calc(1/5 * 100% - (1 - 1/5) * 1.5em); }

.humble-lms-flex-column--two-fourth {
  width: calc(2/5 * 100% - (1 - 2/5) * 1.5em); }

.humble-lms-flex-column--three-fifth {
  width: calc(3/5 * 100% - (1 - 3/5) * 1.5em); }

/* Full width lessons */
body.humble-lms-lesson-full-width .humble-lms-flex-column--lesson {
  width: 100%; }

body.humble-lms-lesson-full-width .humble-lms-sidebar {
  margin-top: 2rem;
  font-size: 1.125em; }

body.humble-lms-lesson-full-width .humble-lms-sidebar h2 {
  font-size: 1.125em;
  padding-bottom: 0;
  margin-bottom: .75em; }

/* Sidebars */
.humble-lms-widget h2 {
  font-size: 1.125em;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: .4125em; }

.humble-lms-widget:not(:first-of-type) {
  margin-top: 1.5em; }

/* Login and registration forms */
.humble-lms-form label {
  display: block;
  margin-bottom: .125em; }

#humble-lms-registration-form label.humble-lms-required::after {
  display: inline-block;
  content: '*';
  margin-left: .125em;
  color: #8a2738; }

.humble-lms-honeypot {
  display: none !important;
  visibility: hidden !important; }

/* Quizzes */
.humble-lms-quiz {
  display: block;
  margin-bottom: 1.5em; }

.humble-lms-quiz-question {
  display: block;
  background: #f9f9fb;
  border: 1px solid #dadbe7;
  padding: 1em;
  margin-bottom: 1em; }

.humble-lms-quiz-question:not(:first-of-type) {
  margin-top: 1em; }

.humble-lms-quiz-question-title {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.25em; }

.humble-lms-quiz-question-image {
  max-width: 100%;
  margin-bottom: 1em; }

.humble-lms-multiple-choice-question {
  display: flex;
  align-items: center; }

.humble-lms-quiz-score {
  font-weight: 700;
  font-size: 1.875em; }

/* Checkboxes, radio buttons */
.humble-lms-label-container {
  display: block;
  position: relative;
  padding: .125em 0 .125em 1.875em;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: none; }

/* Hide the browser's default checkbox */
.humble-lms-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox/radio button */
.humble-lms-checkmark,
.humble-lms-radio {
  position: absolute;
  top: .3em;
  left: 0;
  height: 1.25em;
  width: 1.25em;
  background-color: #eee; }

.humble-lms-radio {
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
.humble-lms-label-container:hover input ~ .humble-lms-checkmark,
.humble-lms-label-container:hover input ~ .humble-lms-radio {
  background-color: #ccc;
  transition: all .2s linear; }

/* When the checkbox/radio is checked, add a blue background */
.humble-lms-label-container input:checked ~ .humble-lms-checkmark,
.humble-lms-label-container input:checked ~ .humble-lms-radio {
  background-color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center; }

/* Create the checkmark/radio/indicator (hidden when not checked) */
.humble-lms-checkmark::after,
.humble-lms-radio::after {
  content: "";
  display: none;
  position: relative; }

/* Show the checkmark when checked */
.humble-lms-label-container input:checked ~ .humble-lms-checkmark::after,
.humble-lms-label-container input:checked ~ .humble-lms-radio::after {
  display: block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.125); }

/* Style the checkmark indicator */
.humble-lms-label-container .humble-lms-checkmark::after {
  width: .2em;
  height: .57em;
  top: -.1em;
  border: solid white;
  border-width: 0 .125em .125em 0;
  -webkit-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(42deg); }

/* Style the radio indicator (dot/circle) */
.humble-lms-label-container .humble-lms-radio::after {
  width: .44em;
  height: .44em;
  border-radius: 50%;
  background: white; }

.humble-lms-message--max-attempts-exceeded__initial,
.humble-lms-message--limited-attempts,
.humble-lms-message--max-attempts-completed {
  display: none; }

/* Google reCAPTCHA */
.humble-lms-recaptcha {
  margin-bottom: 1em; }

/* PayPal */
#humble-lms-paypal-buttons,
#humble-lms-paypal-buttons-single-item {
  z-index: 1;
  position: relative; }

/* Lightbox */
.humble-lms-lightbox-wrapper {
  position: fixed;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden; }

.humble-lms-lightbox {
  box-sizing: border-box;
  width: 480px;
  max-width: 90%;
  padding: 1em;
  background: #fff;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
  max-height: 90%;
  overflow: auto; }

.humble-lms-lightbox-title {
  font-size: 1.5em;
  padding: 0 0 .5em; }

.humble-lms-lightbox-button-wrapper {
  padding-bottom: .5em; }

/* Checkout */
.humble-lms-checkout-memberships {
  display: block;
  margin-bottom: 1em;
  border: 1px solid #ddd; }

.humble-lms-checkout-membership,
.humble-lms-checkout-membership-input {
  display: block; }

.humble-lms-checkout-membership {
  padding: .875em;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  font-weight: 700; }

.humble-lms-checkout-membership.checked {
  background: #ecf6f3; }

.humble-lms-checkout-membership:last-of-type {
  border-bottom: 0; }

.humble-lms-checkout-membership-description {
  margin-top: .5em;
  font-weight: 400; }

.humble-lms-checkout-membership-price {
  font-weight: 600;
  color: #188e6e;
  margin-left: .375em; }

.humble-lms-checkout-membership-price__tax {
  font-weight: 400;
  font-size: .75em;
  display: block; }

.humble-lms-checkout-membership.disabled,
.humble-lms-checkout-membership.disabled input[name="humble_lms_membership"] {
  pointer-events: none;
  opacity: .5; }

/* Providers */
.humble-lms-providers {
  margin-bottom: 1em; }

.humble-lms-provider {
  font-weight: 400;
  padding: .75em;
  padding-left: 0;
  border-bottom: 1px solid #eee; }

.humble-lms-provider:first-of-type {
  padding-top: 0; }

.humble-lms-provider:last-of-type {
  margin-bottom: 0; }

.humble-lms-provider-name {
  font-weight: 600; }

.humble-lms-provider p:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0; }

/* User transactions */
.humble-lms-user-transaction {
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); }

.humble-lms-user-transaction__title {
  padding: .5em;
  background: #fafafa;
  cursor: pointer; }

.humble-lms-user-transaction__title_name {
  display: block;
  font-size: 1.125em;
  font-weight: 600; }

.humble-lms-user-transaction__title_name span {
  font-weight: 400;
  font-size: .75em; }

.humble-lms-user-transaction__amount {
  font-weight: 700;
  color: #14785d; }

.humble-lms-user-transaction__content {
  display: none;
  background: #fff;
  padding: .5em; }

.humble-lms-user-transaction:last-of-type {
  margin-bottom: 0; }

.humble-lms-user-transaction p {
  padding: 0 0;
  margin: 0 0 .25em; }

.humble-lms-user-transaction p:last-of-type {
  margin-bottom: 0; }

.humble-lms-user-transaction p.humble-lms-user-transaction__topic {
  display: block;
  font-weight: 400;
  font-size: .875em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: .25em;
  margin: .75em 0 .5em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

/* Timeframes / course dates */
.humble-lms-timeframe {
  margin-bottom: 1em; }

.humble-lms-timeframe-content {
  padding-bottom: 0;
  margin-bottom: 0; }

/* H5P */
.h5p-iframe-wrapper {
  display: block;
  margin-bottom: 1em; }

/* Tippy Tooltips */
.tippy-box {
  padding: .5em; }

.tippy-box *:last-child {
  margin-bottom: 0;
  padding-bottom: 0; }

/* Coupons */
.humble-lms-coupon-input-wrapper {
  display: block;
  margin-bottom: 1em; }

.humble-lms-coupon-input-wrapper--activated {
  margin-bottom: 0; }

.humble-lms-coupon-input-wrapper + .humble-lms-checkout-memberships {
  margin-top: 2em; }

.humble-lms-coupon-input-wrapper--activated + .humble-lms-checkout-memberships {
  margin-top: .5em; }

.humble-lms-coupon-active {
  font-weight: 600;
  color: #444bb1; }

.humble-lms-invalid-coupon-code {
  font-weight: 600;
  color: #8a2738;
  margin-top: .5em; }

/* Responsive */
@media screen and (max-width: 767px) {
  .humble-lms-flex-column--half:not(.dont-break),
  .humble-lms-flex-column--third:not(.dont-break),
  .humble-lms-flex-column--two-third:not(.dont-break),
  .humble-lms-flex-column--fourt:not(.dont-break),
  .humble-lms-flex-column--three-fourth:not(.dont-break),
  .humble-lms-flex-column--fifth:not(.dont-break),
  .humble-lms-flex-column--two-fifth:not(.dont-break),
  .humble-lms-flex-column--three-fifth:not(.dont-break) {
    width: 100%;
    margin-right: 0; }

  .humble-lms-course-tile .humble-lms-course-title {
    font-size: 2em; }

  .humble-lms-next-prev-lesson {
    margin-top: 1em;
    margin-bottom: 2em; }

  .humble-lms-widget h2 {
    padding-bottom: .5em; }

  .humble-lms-widget:not(:first-of-type) {
    margin-top: 1.5em; }

  .humble-lms-btn--small,
  input[type='button'].humble-lms-btn--small {
    font-size: .93875em;
    height: 2.5rem;
    line-height: 2.5rem; } }
@media screen and (max-width: 480px) {
  .humble-lms-course-tile .humble-lms-course-title {
    font-size: 1.75em; } }
