/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/* Loading layer/spinner */

.humble-lms-loading-layer {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.57);
  height: 100%;
  padding: 0;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.humble-lms-loading,
.humble-lms-loading:after {
  border-radius: 50%;
  font-size: 10px;
  width: 4em;
  height: 4em;
}

.humble-lms-loading {
  display: flex-item;
  text-indent: -9999em;
  border-top: .875em solid rgba(255, 255, 255, 0.2);
  border-right: .875em solid rgba(255, 255, 255, 0.2);
  border-bottom: .875em solid rgba(255, 255, 255, 0.2);
  border-left: .875em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: lm-load 1.1s infinite linear;
  animation: lm-load 1.1s infinite linear;
}

@-webkit-keyframes lm-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  }
  @keyframes lm-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ms-container .ms-selectable, .ms-container .ms-selection {
  background: transparent;
}

.ms-list {
  background: #fff;
}

.humble-lms-searchable-input {
  margin-bottom: .375em;
}

.ms-container .ms-selection li.ms-elem-selection,
.ms-container .ms-selectable li.ms-elem-selectable {
  padding: 10px;
  margin: 0;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  border-bottom: 1px solid #08c;
}

.humble-lms-multiselect-select-all,
.humble-lms-multiselect-deselect-all {
  cursor: pointer;
}   

.humble-lms-activity-trigger-select,
.humble-lms-activity-action-select {
  display: none;
  margin-top: .5em;
}

.humble-lms-reporting-table {
  margin-bottom: 1em;
}

.humble-lms-reporting-table:first-of-type {
  margin-top: 1.375em;
}

.humble-lms-reporting-table th {
  font-weight: 600;
}

.humble-lms-admin-progress-bar {
  position: relative;
  display: block;
  background: #eee;
}

.humble-lms-admin-progress-bar-inner {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #207a86;
  background: repeating-linear-gradient(
    125deg,
    #207a86,
    #207a86 .5em,
    #1d717c .5em,
    #1d717c 1em
  );
}

.humble-lms-admin-progress-bar-text {
  display: inline-block;
  margin-left: .5em;
  position: relative;
  z-index: 1;
  color: #fff;
}

.humble-lms-progress-none {
  color: #222 !important;
}

.humble-lms-reporting-lesson td:first-of-type {
  padding-left: 2em;
}

.humble-lms-options-lessons-completed,
.humble-lms-options-lessons-incompleted {
  font-weight: 600;
}

.humble-lms-options-complete {
  color: #207a86;
}

.humble-lms-options-incomplete {
  color: rgb(189, 16, 16);
}

/* Courses */
.humble-lms-course-section {
  padding: 1em;
  background: rgba(139, 139, 150, .1);
  border: 1px solid #e2e4e7;
  margin-bottom: 1em;
}

label.humble-lms-label,
.humble-lms-course-section-title-label {
  font-weight: 600;
  margin: 0 0 .375em;
  display: block;
}

.humble-lms-course-section-title-label:not(:first-of-type) {
  margin-top: .5em;
}

.humble-lms-course-section-title {
  margin: 0 0 .375em;
}

.humble-lms-course-section-remove-wrapper {
  padding-bottom: 0;
  margin-bottom: 0;
}

label[for='humble_lms_course_timestamps_to'] {
  margin-top: 1em;
}

.humble-lms-enable-recaptcha {
  padding-bottom: .5em;
}

.humble-lms-datepicker {
  margin-bottom: .5em;
}

label[for="humble_lms_course_timestamps_info"] {
  margin-top: 1em;
}

.humble-lms-course-is-closed {
  font-weight: 600;
  color: rgb(121, 10, 10);
}

.humble-lms-course-is-open {
  font-weight: 600;
  color: rgb(10, 92, 38);
}

/* Quizzes */
.humble-lms-question-type {
  margin-top: .25em;
}
.humble-lms-answer {
  margin-top: 1em;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #ccd0d4;
}

.humble-lms-answer:not(:first-of-type) {
  margin-top: 1em;
}

.humble-lms-answer-text {
  margin-bottom: .5em;
}

.humble-lms-correct-answer-wrapper {
  display: flex;
  align-items: center;
  margin: .25em 0 1em;
  font-weight: 600;
}

.humble-lms-less-margin {
  margin: .125em 0 .5em;
}

/* Add content lightbox */
.humble-lms-add-content-lightbox-wrapper {
  position: fixed;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
}

.humble-lms-add-content-lightbox {
  box-sizing: border-box;
  width: 480px;
  max-width: 96%;
  padding: 1em;
  background: #fff;
  box-shadow: 1px 3px 6px rgba(0,0,0,.4);
}

.humble-lms-add-content-lightbox-title {
  font-size: 1.5em;
  padding: 0 0 .5em;
}

.humble-lms-add-content-name {
  display: block;
  margin-bottom: .5em;
}

.humble-lms-add-content-error {
  display: none;
  color: rgb(121, 10, 10);
  font-weight: 600;
}

a.button.humble-lms-add-content-edit {
  display: none;
}

.humble-lms-add-content-success {
  display: none;
}

.humble-lms-add-content-success {
  padding-bottom: 0;
  margin-bottom: 0;
}

p.humble-lms-add-course-to-section {
  margin-top: .5em;
}
