/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.humble-lms-searchable-input {
  margin-bottom: .375em;
}

.ms-container .ms-selection li.ms-elem-selection,
.ms-container .ms-selectable li.ms-elem-selectable {
  padding: 10px;
  margin: 0;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  border-bottom: 1px solid #08c;
}

.humble-lms-activity-trigger-select,
.humble-lms-activity-action-select {
  display: none;
  margin-top: .5em;
}

.humble-lms-reporting-table {
  margin-bottom: 1em;
}

.humble-lms-reporting-table:first-of-type {
  margin-top: 1.375em;
}

.humble-lms-reporting-table th {
  font-weight: 700;
}

.humble-lms-admin-progress-bar {
  position: relative;
  display: block;
  background: #eee;
}

.humble-lms-admin-progress-bar-inner {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #207a86;
}

.humble-lms-admin-progress-bar-text {
  display: inline-block;
  margin-left: .5em;
  position: relative;
  z-index: 1;
  color: #fff;
}

.humble-lms-progress-none {
  color: #222 !important;
}

.humble-lms-reporting-lesson td:first-of-type {
  padding-left: 2em;
}

.humble-lms-options-lessons-completed,
.humble-lms-options-lessons-incompleted {
  font-weight: 700;
}

.humble-lms-options-complete {
  color: #207a86;
}

.humble-lms-options-incomplete {
  color: rgb(189, 16, 16);
}

/* Quizzes */
.humble-lms-question-type {
  margin-top: .25em;
}
.humble-lms-answer {
  margin-top: 1em;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #ccd0d4;
}

.humble-lms-answer:not(:first-of-type) {
  margin-top: 1em;
}

.humble-lms-answer-text {
  margin-bottom: .5em;
}

.humble-lms-correct-answer-wrapper {
  display: flex;
  align-items: center;
  margin: .25em 0 1em;
  font-weight: 600;
}